body{
    display: grid;
    grid-template-areas: "header"
                         "links"
                         "menu"
                         "main"
                         "footer";
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);

    margin: 0px;
    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    grid-area: header;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 40px;

    max-height: 1450px;
    
    background-color: black;
    color: white;

    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;

    justify-content: center;
}
links{
    display: grid;
    justify-content: space-evenly;
    padding: 10px;
    grid-template-columns: repeat(4, auto);

    height: fit-content;
    
    background-color: rgb(152, 4, 11);
}
menu{
    display: none;
    grid-area: menu;

    grid-template-areas: "links"
                         "menu-search"
                         "menu-button";

    grid-template-rows: 40px 40px 30px 10px;

    height: fit-content;
    margin: 0px;
    padding-inline-start: 0px;
    padding-bottom: 10px;

    background-color: rgb(66, 66, 66);
}
main{
    grid-area: main;

    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    padding: 20px;

    background-color: black;
    border-radius: 10px;
}
footer{
    grid-area: footer;
    margin-bottom: 0px;
    margin-top: 10px;

    padding-bottom: 10px;

    background-color: rgb(152, 4, 11);
}
overlay{
    position: fixed;
    backdrop-filter: blur(4px);
    display: none;
  
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

    height: 100%;
    width: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
flex{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 40px;
    line-height: 1.5;
}

main h1{
    text-align: center;
}
main img{
    max-width: 300px;
    scale: auto;
    width: auto;
}
main .title{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    height: fit-content;

    margin-bottom: 10px;
}
main .title h2{
    height: fit-content;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
main .title button{
    background-color: transparent;
}
main .class{
    display: none;
}
main .class .gif{
    scale: auto;
    max-width: none;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
}
main .imgs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

input{
    background-color: black;
    color: inherit;
    border: 0px;

    height: 100%;
    width: 99%;
    min-width: 300px;
}
button{
    background-color: rgb(152, 4, 11);
    color: inherit;
    border: none;

    border-radius: 5px;

    width: 10vw;
    min-width: 75px;
}
a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

/* Classi generali */
.logo{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

/* Classi per il flex */
.flex-text{
    flex: 4;

    text-align: justify;
    line-height: 2;
    word-spacing: 0.20vw;
}
.flex-text h3{
    padding-top: 0px;
    margin-top: 0px;
}
.flex-info{
    flex: 2;

    border: 2px white solid;
    border-radius: 10px;
}
.flex-container{
    margin: auto;
    padding: 20px;

    width: fit-content;
    height: fit-content;

    text-align: justify;
}


/* Classi per l'overlay */
.container-overlay{
    position: relative;
    top: 25%;
    bottom: 50%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    justify-content: center;

    gap: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

    width: fit-content;
    min-width: 300px;

    background-color: white;
    border-radius: 15px;
}
.container-overlay div{
    margin-left: 0px;
    margin-right: 0px;

    width: 100%;
    height: fit-content;

    color: black;
}
.container-overlay input{
    background-color: transparent;
    border: 2px black solid;
    border-radius: 10px;

    margin-left: 0px;
    margin-right: 0px;

    width: auto;
    height: 30px;
    padding: 5px;
}
.container-overlay button{
    height: 40px;
    width: 100%;

    margin-left: 0px;
}

.container-overlay-title{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.container-overlay-title h1{
    flex: 5;
}
.container-overlay-title button{
    flex: 1;
    background-color: transparent;
    border: none;

    margin-top: auto;
    margin-bottom: auto;
}

/* Classi per l'header */
.header-logo{
    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    flex-wrap: inherit;
    flex-direction: row;
    gap: 10px;

    height: 100%;
}
.header-search{
    margin-top: auto;
    margin-bottom: auto;
    height: fit-content;

    display: flex;
    flex-wrap: inherit;
    gap: 10px;
}
.header-search img{
    max-height: 20px;
    height: 100%;
    scale: 1/1;
}
.header-login{
    display: flex;
    flex-wrap: inherit;
    gap: 10px;

    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;

    height: 50%;
}

/* Classi per il menù */
.menu-toggle{
    display: none;
    padding: 0px;
    background-color: transparent;
    border: none;

    margin-top: auto;
    margin-bottom: auto;
}
.menu-button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    grid-area: menu-button;

    padding-top: 10px;
    margin-top: auto;
    margin-bottom: auto;

    height: 100%;
}
.menu-search{
    grid-area: menu-search;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.menu-search input{
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* Dropdown menu */
.dropdown{
    display: none;

    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;

    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.dropdown div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    min-width: 270px;
    width: fit-content;

    text-align: center;
    border: 2px solid rgb(152, 4, 11);
    border-radius: 10px;
}
.dropdown div h2{
    margin: 0px;
    padding: 5px;
    height: fit-content;
}

/* Classi per il footer */
.footer-container{
    margin-right: auto;
    margin-left: auto;

    width: fit-content;
    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-container .logo{
    height: 100px;
    width: 100px;
}
.footer-grid{
    background-color: transparent;
}   

@media screen and (max-width: 860px) {
    .header-search{
        display: none;
    }
    .header-login{
        display: none;
    }
    .header-logo{
        margin-right: auto;
    }

    .menu-toggle{
        display: block;
    }

    .flex-info{
        padding: 10px;
    }
    .flex-text{
        padding: 10px;
    }
    links{
        display: none;
    }
    .footer-grid{
        text-align: center;

        grid-template-rows: repeat(2,auto);
        grid-template-columns: repeat(2,auto);
        grid-row-gap: 20px;
    }

    main .title button{
        display: none;
    }

}
@media screen and (max-width: 1350px) {
    flex{
        flex-direction: column-reverse;
        gap: 0px;
    }
    .flex-info{
        border: none;
    }
}
@media screen and (max-width: 500px) {
    .flex-container{
        text-align: left;
    }
    .footer-grid{
        text-align: center;
        grid-template-rows: repeat(4,auto);
        grid-template-columns: auto;
        grid-row-gap: 20px;
    }
    main .meme{
        gap: 20px;
    }
}

@media (hover:hover){
    .header-login button:hover{
        border: 2px rgb(152, 4, 11) solid;
        background-color: transparent;
        transition: 0.2s;
    }
    .menu-button button:hover{
        border: 2px rgb(152, 4, 11) solid;
        background-color: transparent;
        transition: 0.2s;
    }
    .menu-toggle:hover{
        transform: scale(1.2);
        transition: 0.2s;
    }
    links a:hover{
        transform: scale(1.2);
        transition: 0.2s;
    }
}